.idea
.DS_Store
**/npm-debug.log
**/node_modules
test
__tests__
src
build
gulpfile.js

.editorconfig
.prettierrc
.nvmrc
Gemfile
jest.config.js
LICENSE.txt
Rakefile
.vscode
.release-it.json
docs

# vscode localhistory
.history
.release-it.json
